.footer {
    height: 7rem;
    background-color: #2B4760;
    padding: .1rem;
    text-align: center;
    margin-top: -.5rem;

    span {
        font-size: 1.5rem;
        display: inline-block;
        margin-top: 2.5rem;
        color: white;
    }
}