.header {
    background: linear-gradient(rgba(100, 100, 100, .85), rgba(100, 100, 100, .85)),
                url("../../img/mountains.png");
    background-size: cover;
    padding: .1rem;
    height: 63rem;

    &__form {
        background-color: white;
        height: 18.5rem;
        width: 95rem;
        margin: 25rem auto 2rem;
        padding: .1rem;

        &--upper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 92%;
            margin: 3rem auto 1rem;

            .input__container {
                width: 28.5rem;
            }
        }

        &--lower {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 92%;
            margin: 0 auto 2rem;

            .input__container {
                width: 22rem;
            }

            button {
                background-color: #E85D5D;
                color: white;
                display: block;
                width: 17rem;
                height: 4rem;
                font-size: 1.3rem;
                border: none;
            }

            .input__container:nth-child(3) {
                margin-right: 0;
            }

            i {
                width: 21.5% !important;
            }
        }

        &--info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 92%;
            margin: 1rem auto 0;
            font-size: 1.2rem;

            p {
                color: gray;
            }

            a {
                color: #E85D5D;
            }
        }

        .input__container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 4rem;

            i {
                background-color: #E85D5D;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 15%;
            }

            img {
                width: 2.5rem;
            }

            input {
                height: 100%;
                border: 1px solid lightgray;
                border-left: none;
                width: 85%;
                font-size: 1.2rem;
                padding-left: 1rem;
            }

            select {
                height: 100%;
                border: 1px solid lightgray;
                background-color: inherit;
                border-radius: 0;
                -webkit-appearance: none;
                border-left: none;
                color: gray;
                padding-left: 1rem;
                width: 85%;
                font-size: 1.2rem;
            }
        }
    }
}


@media( max-width: 970px ) {
    .header__form {
        height: auto;
        width: 55rem;
        margin-top: 17rem;

        &--upper {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 0;

            .input__container {
                width: 45%;
                margin: .7rem;

                i {
                    width: 21.5%;
                }
            }

            .top__input {
                width: 100%;

                i {
                    width: 10%;
                    margin: 0 auto;
                }

                input {
                    margin-left: -1.2rem;
                    margin-right: 1.2rem;
                }
            }
        }

        &--lower {
            flex-wrap: wrap;
            justify-content: center;

            .input__container {
                width: 45%;
                margin: .7rem;
            }

            button {
                width: 45%;
                margin: .7rem;
                margin-left: 1.4rem;
            }
        }

        &--info {
            margin-bottom: 1.3rem;
        }
    }
}

@media( max-width: 530px ) {

    .header {
        height: auto;
    }
    
    .header__form {
        max-width: 95%;
        margin: 15rem auto 7rem;

        &--upper {
            flex-direction: column;
            align-items: center;

            .input__container {
                width: 100%;

                i {
                    width: 20%;
                    margin: 0;
                }

                input {
                    width: 90%;
                }
            }

            .top__input {

                input {
                    margin: 0;
                }
            }
        }

        &--lower {
            flex-direction: column; 
            margin: auto;

            .input__container {
                width: 100%;

                i {
                    width: 5%;
                }

                select {
                    width: 95%;
                }
            }

            button {
                width: 100%;
            }
        }

        .input__container:nth-child(3) {
            margin-right: .5rem;
        }
    }
}

@media( max-width: 480px ) {
    .header__form--info p {
        width: 25rem;
    }
}